<div class="planets">
  <div class="search-container">
    <div class="back-stars">
      <div class="p1">
        <img id="planet-1" src="assets/images/planet-1.svg" alt=""/>
        <p id="p-planet-1">TAKE OFF WITH VOLVIC</p>
      </div>
      <div class="p2">
        <img id="planet-2" src="assets/images/planet-2.svg" alt=""/>
        <p id="p-planet-2">DISCOVER MARIA</p>
      </div>
      <div class="p3">
        <img id="planet-3" src="assets/images/planet-3.svg" alt=""/>
        <p id="p-planet-3">DISCUSS WITH GREG</p>
      </div>
    </div>
    <img id="planet-4" src="assets/images/planet-3.svg" alt=""/>
    <img id="planet-5" src="assets/images/planet-2.svg" alt=""/>
    <img id="planet-6" src="assets/images/planet-3.svg" alt=""/>
    <img id="planet-7" src="assets/images/planet-1.svg" alt=""/>
  </div>

  <div id="m-planet" class="modal-round" ng-show="vm.planetModal">
    <div class="planet-desc">
      <div class="rocket">
        <a href="/project"><img src="assets/fusee-bleu.svg" alt=""/></a>
      </div>
      <h1>{{ vm.currentDesc.name }}</h1>
      <div class="mission-flex">
        <p class="margin-bot">{{ vm.currentDesc.desc }}</p>
        <i class="ion-ios-arrow-right" ng-click="vm.seeMore(vm.currentDesc.link)"></i>
      </div>
      <ul class="tags">
        <li ng-repeat="tag in vm.currentDesc.tags"><div class="tag {{ tag.type }}">{{ tag.name }}</div></li>
      </ul>
    </div>
    <div class="project-detail-bg"></div>
  </div>
</div>

