
$marge: 12;

.side-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  width: 350px;
  padding-top: 1em;
  box-shadow: rgba(black, .3) 3px 0 0 0;
  img {
    display: block;
    margin: 0 auto;
    padding: 1em;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    a {
      color: $dark-blue;
      text-transform: uppercase;
      padding: 1em;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: 400;
      i {
        margin-right: 1em;
        font-size: 35px;
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
      }
      &:hover {
        color: $blue;
      }
    }
    &.active {
      background-color: darken($white, 8);
      box-shadow: darken($white, 12) 0 2px 0 0 inset, darken($white, 12) 0 -2px 0 0 inset;
    }
  }

  &.ng-hide-add, &.ng-hide-remove{
    -webkit-transition:150ms linear all;
    transition:150ms linear all;
    transform: translateX(0);
    transition-delay: 150ms;
  }
  &.ng-hide {
    transition-delay: 0;
    transform: translateX(-100%);
  }
}

.btn-menu {
  position: fixed;
  top: 1em;
  left: 1em;
  cursor: pointer;
  border: none;
  font: inherit;
  background-color: transparent;
  font-size: 2.5em;
  color: $white;
  outline: none;
  &:hover {
    color: darken($white, 15);
  }
  &.ng-hide-add, &.ng-hide-remove{
    -webkit-transition:200ms linear all;
    transition:200ms linear all;
    transform: translateY(0);
    transition-delay: 260ms;
  }
  &.ng-hide {
    transform: translateY(-200%);
    transition-delay: 0ms;
  }
}

.profile-pic {
  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
}
