@import "colors";


// font
@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,900,400);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);


body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  line-height: 1.5em;
}
