@import "colors";
@import "utils";
@import "button";


// font
@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,900,400);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);


// imports
@import "../views/profile-danone/profile-danone";
@import "../views/discover/discover";
@import "../views/calendar/calendar";
@import "../views/project/project";
@import "../views/search/search";
@import "../views/missions/missions";
@import "../directives/side-menu/side-menu";
@import "../directives/modal/modal";
@import "../views/home/home";
@import "../views/profile/profile";
@import "../views/dashboard/dashboard";

// variables
$fontsize: 21px;

body {
  font-family: 'Raleway', sans-serif;
  background-color: $dark-blue;
  line-height: 1.5em;
  font-size: $fontsize;
  color: $white;
  font-weight: 100;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  line-height: 1.5em;
}

.input {
  background-color: $light-blue;
  border: 0;
  outline: none;
  width: 350px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 0 1px rgba(255, 255, 255, 0.2);
  font: inherit;
  font-size: 25px;
  &::-webkit-input-placeholder {
    color: $light-cyan;
  }
}

.card {
  background-color: $white;
  color: $dark-blue;
  border-radius: 3px;
  box-shadow: darken($white, 8) 0 3px 0 0 inset, darken($dark-blue, 8) 0 3px 0 0;
  padding: 1em;
  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 2em;
  }
  p {
    font-weight: 400;
  }
  hr {
    border: 1px solid $dark-white;
  }
}
