.btn {
  padding: 10px 25px;
  border: 0;
  border-radius: 3px;
  font: inherit;
  font-size: 20px;
  outline: none;
  display: flex;
  align-items: center;
  i {
    margin-left: .5em;
  }
}

.btn-default {
  @extend .btn;
  color: $dark-blue;
  background-color: $white;
  box-shadow: 0 2px 0 1px $dark-white, rgba(0, 0, 0, .3) 0 4px 5px;
}

.btn-success {
  @extend .btn;
  color: $white;
  background-color: $light-green;
  box-shadow: 0 2px 0 1px $dark-green, rgba(0, 0, 0, .3) 0 4px 5px;
}


.btn-info {
  @extend .btn;
  color: $white;
  background-color: $light-cyan;
  box-shadow: 0 2px 0 1px darken($cyan, 8), rgba(0, 0, 0, .3) 0 4px 5px;
}
