$dark-blue: #243A66;
$blue: #3F5E8E;
$light-blue: #5A7BA3;

$dark-green: #033649;
$green: #036564;
$light-green: #00827E;

$dark-red: #EB5B5B;
$red: #FF9381;
$light-red: #FFB9AD;

$dark-cyan: #2C4A6A;
$cyan: #658CB4;
$light-cyan: #78A5CE;

$white: #E3DED2;
