.margin-left {
  margin-left: 1em;
}

.margin-right {
  margin-right: 1em;
}

.margin-right-s {
  margin-right: .5em;
}

.margin-top-6 {
  margin-top: 6em;
}

.margin-bot-2 {
  margin-bottom: 2em;
}

.auto-end {
  margin-left: auto;
}

.f-right {
  float: right;
}

.f-clear {
  clear: both;
}

.margin-bot {
  margin-bottom: 1em;
}

.margin-bot-s {
  margin-bottom: .5em;
}
