<div class="success">
  <div class="success-inner">
    <h1>CONGRATULATIONS</h1>
    <div class="recap-infos">
      <div>Your participation to the mission is confirmed!</div>
      <div>It will take place the <b>June 6th, 2015, starting at 9AM, local time.</b></div>
      <div>Please check your <b>inbox</b>, a mission wrap-up has just been sent to you.</div>
    </div>
    <div class="more-infos">
      <div>Do you want to know more about <b>Volvic</b>? Check out the <b>links</b> below:</div>
      <div class="button-wrapper-validate">
        <a href="http://www.danone.com" class="btn-info">Website</a>
        <button class="btn-info">Facebook</button>
      </div>
    </div>
    <img src="assets/images/planet-1.svg"/>
  </div>
</div>
