<div class="timeline">
  <img id="rocket" src="assets/images/timeline.svg" alt=""/>
  <div>
    <div class="card info-time m1">
      <h1>Take Off with Volvic! <i class="ion-ios-paper"></i></h1>
      <h2>06 June - Clermont-Ferrand</h2>
      <div class="tri"></div>
    </div>
    <div class="card info-time m2">
      <h1>Discover Maria's career <i class="ion-chatbubble"></i></h1>
      <h2>1 comment left</h2>
      <div class="tri"></div>

    </div>
    <div class="card info-time m3">
      <h1>Discuss with Greg! <i class="ion-calendar"></i></h1>
      <h2>05 May - Coffee <br>in Clermont-Ferrand</h2>
      <div class="tri"></div>
    </div>
  </div>
</div>
