<div class="timeline">
  <img id="rocket" src="assets/images/timeline.svg" alt=""/>
  <div>
    <div class="card info-time m1">
      <h1>Take Off!</h1>
      <h2>25 April - Paris, France</h2>
      <div class="tri"></div>
    </div>
    <div class="card info-time m2">
      <h1>Discuss with Greg!</h1>
      <h2>02 April - Paris, France</h2>
      <div class="tri"></div>
    </div>
    <div class="card info-time m3">
      <h1>about Maria</h1>
      <h2>Career questions</h2>
      <div class="tri"></div>
    </div>
  </div>
</div>
