#rocketContainer1,
#rocketContainer2 {
  position: relative;
  width: 100px;
  height: 100px;
}

.rocket-layer {
  z-index:3;
  top: 0;
  left: 0;
  position: absolute;
  transform-origin: right center;
}



.danone {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  #title {
    position: absolute;
    top: 600px;
    left: 280px;
    opacity: 0;
  }
  #planet {
    position: absolute;
    z-index:2;
    top: 200px;
    left: 210px;
  }
}
