<div class="wrapper">
  <div class="danone" xmlns="http://www.w3.org/2000/svg">
    <object id="planet" data="../../assets/images/planet.svg" type="image/svg+xml"></object>
    <div id="rocketContainer1">
      <object class="rocket-layer" data="../../assets/images/rocket1.svg" type="image/svg+xml"></object>
    </div>
    <div id="rocketContainer2">
      <object class="rocket-layer" data="../../assets/images/rocket2.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="login-forms">
    <form ng-submit="vm.login()" autocomplete="off">
      <input id="login" class="input" type="text" placeholder="Identifiant"/>
      <input id="mdp" class="input" type="password" placeholder="Mot de passe"/>
      <button id="button-login" class="btn-default">Login</button>
    </form>
  </div>
  <div id="title">
    <object data="../../assets/images/title.svg" type="image/svg+xml"></object>
    <div class="by-danone">by <b>DANONE</b></div>
  </div>
</div>
