.content {
  width: 300%;
  display: flex;
  position: relative;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1025px;
  width: 100%;
}

.div1 {
  background-color: red;
}

.div2 {
  background-color: blue;
}

.div3 {
  background-color: green;
}
