.content {
  width: 300%;
  display: flex;
  position: relative;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1025px;
  width: 100%;
  h1 {
    font-size: 3em;
  }
}

.div1 {
  background-color: $green;
  text-align: center;
}

.div2 {
  background-color: $cyan;
}

.div3 {
  background-color: $blue;
}
