<div class="project">
  <div class="project-inner">
    <h1>Take Off!</h1>
    <h3>New Volvic bottle design</h3>
    <img src="assets/images/activia.jpg" alt=""/>
    <div class="row">
      <h2>They participate:</h2>
      <div class="participations">
        <div class="margin-left profile-pic">
          <img src="assets/images/1.jpg" alt=""/>
          <p>Thomas M.</p>
        </div>
        <div class="profile-pic">
          <img src="assets/images/3.jpg" alt=""/>
          <p>Louis S.</p>
        </div>
        <div class="profile-pic margin-right">
          <img src="assets/images/52.jpg" alt=""/>
          <p>Sylvie F.</p>
        </div>
      </div>
      <div class="card-no-white margin-bot">
        <h4>New bottle design for 50cl Volvic bottle</h4>
        <p>Danone continuously invest on reducing its carbon footprint. As part of the new target defined by the executive committee of Danone, we want to increase by 20% the quantity of renewable PET. Discuss, share, and co-create with us to face this ambitous challenge. </p>
        <div class="infos-event">
          <i class="ion-ios-people"></i>
          <div>
            <p><i class="ion-earth"></i> Volvic, Clermont-Ferrand - France</p>
            <p><i class="ion-calendar"></i> 04 June 2015</p>
            <p><i class="ion-jet"></i> 8/12 remaining seats</p>
          </div>
        </div>
      </div>
      <h1 class="margin-bot-s">Ready to take off?</h1>
      <div class="but">
        <a href="/search" class="btn-info margin-right"><em class="ion-arrow-left-c margin-right"></em>No, go back</a>
        <a href="/" class="btn-success">Yes, I participate <i class="icon-rocket"></i></a>
      </div>
    </div>
  </div>
</div>
