<div class="project">

    <h1>Take Off!</h1>
    <h3>New Activia launching Campaign</h3>
    <img src="assets/images/activia.jpg" alt=""/>
  <div class="row">
    <h2>They participate:</h2>
    <div class="participations">
      <div class="profile-pic">
        <img src="assets/images/1.jpg" alt=""/>
        <p>Thomas M.</p>
      </div>
      <div class="profile-pic">
        <img src="assets/images/3.jpg" alt=""/>
        <p>Louis S.</p>
      </div>
      <div class="profile-pic">
        <img src="assets/images/52.jpg" alt=""/>
        <p>Sylvie F.</p>
      </div>
    </div>
    <div class="card margin-bot">
      <h4>Lorem ipsum dolor sit amet</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempor justo a mi scelerisque tincidunt. Cras lorem libero, porttitor vitae sagittis eu, placerat ac nulla. Ut aliquam, diam tristique sagittis rutrum, sapien dui sollicitudin lorem, ac dictum urna nulla vel mi. Duis ac magna et tortor vestibulum imperdiet vitae at tortor. Suspendisse finibus ante eget ipsum rutrum, vitae luctus odio sollicitudin. Cras euismod convallis quam ac mollis. Donec at dolor arcu. Morbi varius arcu ac efficitur fermentum. Sed imperdiet, metus at lacinia elementum, erat urna cursus ligula, quis elementum dolor dolor sit amet orci.
      </p>
      <div class="infos-event">
        <i class="ion-ios-people"></i>
        <div>
          <p><i class="ion-earth"></i> Paris, France</p>
          <p><i class="ion-calendar"></i> 04 Avril</p>
          <p><i class="ion-jet"></i> 3/5 seats</p>
        </div>
      </div>
    </div>
    <h1 class="margin-bot-s">Ready to take off?</h1>
    <div class="but">
      <a href="/search" class="btn-default"><em class="ion-arrow-left-c margin-right"></em>No, Go Back</a>
      <a href="/" class="btn-success">Yes, I participate <i class="icon-rocket"></i></a>
    </div>
  </div>
</div>
