<modal yolo="vm.showmodal">
  <div class="close ion-close-round" ng-click="vm.showmodal = false"></div>
  <div class="mobile-3 tablet-6 desktop-12">Coucou</div>
  <div class="mobile-3 tablet-6 desktop-12">Coucou</div>
  <div class="mobile-3 tablet-6 desktop-12">Coucou</div>
  <div class="mobile-3 tablet-6 desktop-12">Coucou</div>
  <div class="mobile-3 tablet-6 desktop-12">Coucou</div>
</modal>
<div class="row">
  <div class="dash_title mobile-3 tablet-6 desktop-12">Gravity Dashboard</div>
  <button ng-click="vm.show()">blabla</button>
</div>
