<div class="timeline">
  <img id="rocket" src="assets/images/timeline.svg" alt=""/>
  <div>
    <div class="card info-time m1">
      <h1>Discussion with John <i class="ion-chatbubbles"></i></h1>
      <h2>3 days ago</h2>
      <hr/>
      <textarea class="input" placeholder="Share your feedback with John here"></textarea>
      <div class="recommend"><i ng-click="vm.liked = !vm.liked" ng-class="vm.liked ? 'ion-android-star' : 'ion-android-star-outline'"></i>
        <span>Recommend John?<span class="for-hr">(for HR only)</span></span>
      </div>
      <button class="btn-success">Send</button>
      <div class="tri"></div>
    </div>
    <div class="card info-time take-off">
      <h1>Take Off with Volvic! <i class="ion-briefcase"></i></h1>
      <h2>6 Juin in Clermont-Ferrand</h2>
      <div class="tri"></div>
    </div>
  </div>
</div>
